 body {
     background-color: blue;
 }

 h1 {
     color: goldenrod;
 }

 div {
     background-color: cornflowerblue;
     border-style: solid;
     border-color: black;
     border-radius: 5px;
 }

 .shadow-text {
     text-shadow: gray 1px 1px;
 }

 #large-paragraph {
     font-size: 30px;
 }

 /* CSS properties  */
 #example {
     color: gray;
     background-color: aquamarine;
     border-style: dotted;
     border-width: 3px;
     border-color: red;
     border-radius: 5px;
     height: 200px;
     text-align: center;
 }

 /* float image */
 img {
     float: right;
 }

 /* pseudo classes */
 .hov {
     height: 200px;
     width: 200px;
     background-color: blue;
 }

 .hov:hover {
     background-color: red;
 }

 .every-even li:nth-child(even) {
     background-color: red;

 }

 .every-third li:nth-child(3n) {
     background-color: rebeccapurple;
 }

 /* table style */

 table {
     border-collapse: collapse;
     width: 100%;
     background-color: aliceblue;
 }

 th,
 td {
     padding: 8px;
     text-align: left;
     border-bottom: 1px solid black;
 }

 tr:nth-child(even) {
     background-color: rgb(185, 185, 185);
 }

 tr:hover {
     background-color: gray;
 }

 /* html box model */
 #box-model {
     padding: 20px;
     border-style: solid;
     border-width: 3px;
     margin: 30px;
     background-color: aliceblue;
 }